# Cache
db/
cache/

# dependencies
**/node_modules
/.pnp
.pnp.js

# Hmm
**/ox_lib/web/*
!**/ox_lib/web/build/
**/ox_inventory/web/*
!**/ox_inventory/web/build/
!**/ox_inventory/web/images/
**/esx_identity/web/*
!**/esx_identity/web/dist/
**/Renewed-Banking/web/*
!**/Renewed-Banking/web/public/
**/uz_PureHud/resources/*
!**/uz_PureHud/resources/build/

# Logs
*.log

# Deny Folder
kyg-setup/
kyg_veh*/
kyg_custom*/
kyg_debug/
zTempResources/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.LAGI-BOBO-DND.rb
.replxx_history
InsertJob.sql

npm-debug.log*
.pnpm-debug.log